//- layout.pug
doctype html
html
  head
    title Doodle dance acadamey
    block scripts
    block style 
  body
    nav#navbar
            ul
                li #[a(href="/") Home ]
                li #[a(href="/") About]
                li #[a(href="/") Service]
                li #[a(href="/contact") Contact Us ]
    block content
    footer#footer
            div#div_f This page www.DoodleDanceAcadamey.com  have © scopywrite issue
